<script type="text/javascript">
  var patientsUuids = [];
  function searchPatient() {
    var patientName = document.getElementById("patientName").value

    var httpRequest;
    if (window.XMLHttpRequest) {
        httpRequest = new XMLHttpRequest();
    } else if (window.ActiveXObject) {
        httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
    }
    httpRequest.onreadystatechange = function() {
      if (httpRequest.readyState === 4) {
        if (httpRequest.status === 200) {
          console.log(httpRequest.responseText);
          showPatients(JSON.parse(httpRequest.responseText));
        } else {
          console.log('There was a problem with the request.');
        }
      }
    }

    httpRequest.open('GET', '/openmrs/patients?name=' + patientName, true);
    httpRequest.send(null);

  }

  function selectPatient(event) {
    var selection = event.target;
    
    document.getElementById("selectedPatientName").textContent = selection.textContent;
    document.getElementById("patient_sample_patient_uuid").value = patientsUuids[selection.value]
  }

  function submitSample() {

  }

  function showPatients(response) {
    var patientsList = document.getElementById('patientsList');
    while(patientsList.firstChild) {
      patientsList.removeChild(patientsList.firstChild);
    }
    patientsUuids = [];

    for(index in response.results) {
      var result = response.results[index];
      var li = document.createElement('li');
      li.onclick = selectPatient;
      li.textContent = result.display;
      li.value = index;
      patientsUuids[index] = result.uuid;
      patientsList.appendChild(li);
    }
  }
</script>

<%= form_for(@patient_sample) do |f| %>
  <% if @patient_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_sample.errors.count, "error") %> prohibited this Sample from being registered:</h2>

      <ul>
      <% @patient_sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Patient name: <input type="text" id="patientName" /> <input type="button" onclick="javascript:searchPatient();return" value="Search" />

  <ul id="patientsList">
  </ul>

  Patient: <span id="selectedPatientName"></span> <br />
  <%= f.hidden_field :patient_uuid %>
  Sample ID: <%= f.text_field :sample_id %>
  <input type="submit" onclick="submitSample" value="Register sample" />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
